*
!**/requirements.txt

# common/notification
!_common/notification/**/*.py

# data/backup/image
!_data/backup/image/**/*.py
!_data/backup/image/Dockerfile

# service/script_server/image
!_service/script_server/image/Dockerfile

# service/ttyd/image
!_service/ttyd/image/Dockerfile
!_service/ttyd/image/ns

# service/telegram/image
!_service/telegram/image/**/*.py
!_service/telegram/image/Dockerfile
